<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/img/inventories.png" alt="inventories">
  </div>
  <div class="center">
    <form (ngSubmit)="login()" [formGroup]="formLogin" class="col-10
    col-offset-1 form grid-nogutter">
      <ion-label class="labelStyle" position="floating">Usuario</ion-label>
      <ion-input placeholder="Administrador" formControlName="username" class="inputStyle" type="text"></ion-input>
      <ion-label class="labelStyle" position="floating">Contraseña</ion-label>
      <ion-input placeholder="********" formControlName="password" class="inputStyle" type="password"></ion-input>
    </form>

  </div>
  <div class="button">
    <ion-button id="submit"  type="submit" (click)="login()"  >Iniciar Sesion</ion-button>
  </div>
</ion-content>
